$main-color: #9356DC;
$secondery-color: #FF79DA;
$tertiary-color: #99E2D0;

$header-background: #ece9e9a9;
$header-border: #b6b5b5;

$boxshadow-light: 0px 7px 10px #c9c7c7;
$boxshadow-dark: 0px 7px 10px #969696;